In [1]:
a=10
if a < 15:
    pass

# if else statements

In [3]:
if a < 16:
    print("this course is python")

this course is python

In [10]:
a=10
if a<15:
    print("this is the best")
    print("good bory")
    print("running")

this is the best
good bory
running

In [16]:
if 10 < 3:
    print ("10 is less than 3")
else:
       print ("this condition is not correct")

this condition is not correct

In [18]:
if 50 < 40:
    print("50 is less then 30")
else:
        print("this condition is absolutely in correct")

this condition is absolutely in correct

In [2]:
income = income=int(input())
if income < 50:
    print ("I will be able to buy a mobile")
elif income < 70:
    print("i will able to buy a car")
elif income < 110:
    print ("i will be able a rented house")
else:
    print("Not about to buy anything")

200
Not about to buy anything

In [7]:
Total_Prict=int(input())
if Total_Prict > 20000:
    discount =Total_Prict*.20
    print("discount will be",discount)
    
elif Total_Prict <= 10000:
        discount = Total_Prict*.05
        print("discount will be", discount)
        
else:
    print ("you will not able to get any discount")

40000
discount will be 8000.0

In [11]:
coupon=input("Enter a coupon code")
if coupon == "SWIGGY80":
    print ("you will be able to get a discount 5%")
    Paid_Amount = 7000-7000*.05
    print("you will be able to get food with the amount",Paid_Amount)
else:
    print("Kindly use valid coupon code")

Enter a coupon codeSWIGGY80
you will be able to get a discount 5%
you will be able to get food with the amount 6650.0

In [16]:
study_hour = int(input())

if study_hour < 1:
    print ("it may take one year to get a job")
    
elif study_hour < 4 and study_hour > 1:
    print("it may take 6 months to get a job")
    
elif study_hour > 10:
    print ("it may take 3 months to get a job")
    
else:
    print("it will be difficult to crack the intervew")

1
it will be difficult to crack the intervew

In [17]:
a = 9
if a==9:
    print("valid")

valid

In [11]:
s = input("Enter the Institute Name")
course = input("Enter a Course Name")
Services = input("Enter a Service Name")
if s == "Go Online Training":
    if course == 'sql':
        print("yes it is available under go online training")
elif course == 'Python':
    print("this is second course yes it is available")
elif course == 'Artificial Intelligence':
    print ("this is weekend batch , yes it is available")
elif course == 'Power BI':
    print ("power bi course is available")
    
else:
    print("the courses are not available in this institute") 
    
    elif s == "goonline services":
        if services == "Course Request":
            print("We will release in the future")
        elif services == 'doubts regarding current courses':
            print("Trainer is available so and so time")
        elif services = "palacement assistant":
                print("We will be providing")
        else:
                print("Kindly provide us feedback")
else:
            print("Kindly contact with our team")

SyntaxError: invalid syntax (3609423628.py, line 17)

# For Loop ---------

In [12]:
l = [1,2,3,4,5,6,7,8,9]
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
a="ramkrishna"
for i in a:
    print(i)

r
a
m
k
r
i
s
h
n
a

In [17]:
t=(1,2,3,4,5,6,7,8,9)
for i in t:
    print(i)

1
2
3
4
5
6
7
8
9

In [19]:
l=[1,2,3,4,5,6,7,8,9,7+8j,"ManishGupta",5.8,False]

In [25]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
(7+8j) <class 'complex'>
ManishGupta <class 'str'>
5.8 <class 'float'>
False <class 'bool'>

In [27]:
for i in l:
    print(type(i),"type of",i)

<class 'int'> type of 1
<class 'int'> type of 2
<class 'int'> type of 3
<class 'int'> type of 4
<class 'int'> type of 5
<class 'int'> type of 6
<class 'int'> type of 7
<class 'int'> type of 8
<class 'int'> type of 9
<class 'complex'> type of (7+8j)
<class 'str'> type of ManishGupta
<class 'float'> type of 5.8
<class 'bool'> type of False

In [28]:
l= [1,2,3,4,5,6.7]
for i in l:
    print(i+2)

3
4
5
6
7
8.7

In [29]:
l = [2,3,4,5,6,7.8]

In [30]:
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)

4
5
6
7
8
9.8

In [31]:
l1

[4, 5, 6, 7, 8, 9.8]

In [47]:
l=[1,2,3,56,67,78,'manishgupta','rakesh','shivam',3+4j,[2,3,4,55,66,77,88,55555,6785444]]

In [68]:
l2=[]
l1=[]
for i in l:
    if type(i)==int:
        print(i)
        l1.append(i)
    elif type(i) == str:
            print(i)
            l2.append(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)
                l1.append(j)

1
2
3
56
67
78
manishgupta
rakesh
shivam
2
3
4
55
66
77
88
55555
6785444

In [70]:
l1

[1, 2, 3, 56, 67, 78, 2, 3, 4, 55, 66, 77, 88, 55555, 6785444]

In [64]:
l2.append(3214)

In [65]:
l2

[2, 3, 4, 55, 66, 77, 88, 55555, 6785444, 3214]

In [71]:
l=[2,54,78,89,'python',6+6j,[56,67,78,"rajakurmari"]]
# a) try to print index of all elements
# b) Try to extract all the list of characters if the element is string
# c) try to return a list after doing a square of all the elements

In [72]:
range(0,5)

range(0, 5)

In [73]:
len(l)

7

In [86]:
# a) try to print index of all elements

for i in range(len(l)):
    print("Index",i,"for an element",l[i])

Index 0 for an element 2
Index 1 for an element 54
Index 2 for an element 78
Index 3 for an element 89
Index 4 for an element python
Index 5 for an element (6+6j)
Index 6 for an element [56, 67, 78, 'rajakurmari']

In [87]:
l

[2, 54, 78, 89, 'python', (6+6j), [56, 67, 78, 'rajakurmari']]

In [89]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 54)
(2, 78)
(3, 89)
(4, 'python')
(5, (6+6j))
(6, [56, 67, 78, 'rajakurmari'])

In [83]:
# b) Try to extract all the list of characters if the element is string
a1=[]
a2=[]
for i in l:
    if type(i)==int:
        print(i)
        a1.append(i)
    elif type(i)==list:
            for j in i:
                if type(j)==int:
                    print(j)
                    a2.append(j)

2
54
78
89
56
67
78

In [81]:
a1

[2, 54, 78, 89]

In [84]:
a2

[56, 67, 78]

In [90]:
# c) try to return a list after doing a square of all the elements
l

[2, 54, 78, 89, 'python', (6+6j), [56, 67, 78, 'rajakurmari']]

In [93]:
l=['name','emailid','phoneno','address']
for i in l:
    print(i +'python')

namepython
emailidpython
phonenopython
addresspython

In [94]:
m='mlrt'
for i in m:
    print(i)

m
l
r
t

In [95]:
l

['name', 'emailid', 'phoneno', 'address']

In [97]:
for i in l:
    print(i)
else:
        print("if for loop is not going to complete then itself else block")

name
emailid
phoneno
address
if for loop is not going to complete then itself else block

In [98]:
l

['name', 'emailid', 'phoneno', 'address']

In [104]:
for i in l:
    if i == 'phoneno':
        break
        print(i)
else:
    print("check this statements")

In [105]:
l

['name', 'emailid', 'phoneno', 'address']

In [112]:
for i in l:
    if i == 'phoneno':
        break
        print(i)
else:
            print("check this statements now")

In [113]:
b=['name','phone','email','address']

In [115]:
for i in b:
    if i == 'email':
        break
        print(i)
else:
    print("check this statements")

In [120]:
n = 'mlrt'

In [122]:
for i in n:
    if i == r:
        print(i)
        break
    else:
        print("does not execute")

NameError: name 'r' is not defined